<!-- <div>
    We want to help people. <br> Our website offers many exercises to increase your strenght and motivation to live in amazing world more 
</div> -->
<div class="slideshow">
    <img src="../../../assets/h1.jpg" alt="#" class="i_1">
    <p class="p_1">Be gratefull</p>
    <img src="../../../assets/h2.jpg" alt="#" class="i_2">
    <p class="p_2">Be healthy</p>
    <img src="../../../assets/h7.jpg" alt="#" class="i_3">
    <p class="p_3">Be motivated</p>
    <img src="../../../assets/h4.jpg" alt="#" class="i_4">
    <p class="p_4">Be optomistic</p>
    <img src="../../../assets/h5.jpg" alt="#" class="i_5">
    <p class="p_5">Be technical</p>
    <img src="../../../assets/h6.jpg" alt="#" class="i_6">
    <p class="p_6">Be strong</p>
</div>