<header>
     <nav>
         <ul>
             <li><a routerLink="">Home</a></li>
             <li><a routerLink="/about">About</a></li>
             <li><a routerLink="/exercises">Exercises</a></li>
             <li><a routerLink="/faq">FAQ</a></li>
             <li><a routerLink="/motivation">Motivation</a></li>
             <!-- <li><a routerLink="">Contact a doctor</a></li> -->
             <div class="logs">
                <li><a routerLink="sign-in">Sign in</a></li>
                <li><a routerLink="sign-up">Sign up</a></li>
            </div>
             
         </ul>
     </nav>
 </header>
