
<h4>Концентрированные сгибания на бицепс</h4>

<div class="images">
    <img src="../../../assets/ex1photo1.jpg" alt="#" class="i_1">
    <p class="p_1">1</p>
    <img src="../../../assets/ex1photo2.jpg" alt="#" class="i_2">
    <p class="p_2">2</p>
    <!-- <img src="h5" alt="#" class="i_3">
    <p class="p_3">3</p> -->
    
<div class="description">
    <h5>What to do ?</h5>
    <ol>
        <li>Сядьте на край скамьи, раставив ноги так, чтобы руки свободно могли выполнять подъем гантели</li>
        <li>Исходное положение: Правой рукой возьмите ганель нейтральным хватом, упираясь локтем в верхнюю область бедра.Ладони должны смотреть от Вас, а руки выпрямлены.</li>
        <li>На выходе - сделайте подъем гантели на бицепс, работая исключительно предплечьем</li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>