<h2>Most popular questions:</h2>

<ul>
    <!-- <p class="ASET">Ты можешь эти вопросы запихнуть в базу ? И потом можно просто прописать *ngFor .
    Я думаю для каждого вопроса по айдишке добавить таблицу с ответами на них
    Как думаешь ? Можно еще две талицы создать ?</p> -->
    <li><a href="">How to log in ?</a></li>
    <li><a href="">How to get training schedule  ?</a></li>
    <li><a href="">Why I must join ?</a></li>
    <li><a href="">This is a fantastic offer, what is the catch ?</a></li>
    <li><a href="">If i do join, can I have a health check ?</a></li>
    <li><a href="">How you will check my health ?</a></li>
    <li><a href="">Why I need it ?</a></li>
    <li><a href="">Is it really FREE ?</a></li>

</ul>

<!-- <br><br><br>
<h2>Answers</h2>

<ol>
    <li>It's easy. You must click button "Log In" in the navigation bar</li>
    <li>You must contact to the our doctor. Then you will pass some tests and then you will get your training schedule</li>
    <li>If you want to be more healthy , you must with us</li>
    <li>NO CATCH, our the main goal is help people to be healthy</li>
    <li>Yes,you can. You will contact to the doctor who will check your health condition</li>
    <li>If you want to live more futher , you need it. It's obvious , we provide FREE platform to be healthy</li>
    <li>Yes, it is. No paid additional section of exercises.We promise that our platform is FREE</li>
</ol> -->