* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body { 
    color: rgb(61, 106, 115);
    font: 1em 'Script', sans-serif;
    background-image: url("./assets/background.jpg");
}
